@import "mixins";
@import "variables";

a {
  text-decoration: none;
}
.header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 90%;
  margin-left: -18px;
}
.chunk {
  padding: 4px 8px 8px;
  border-radius: 0;
  border-top: 1px solid gainsboro;

  &-header {
    padding: 2px 8px 0;
    &__title {
      display: inline-block;
      margin: auto 0;
    }
    &-sub {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      margin-bottom: 0;

      &__head {
        color: $gray;
      }

      &__date {
        &-separator {
          margin: 0 8px;
        }
      }
    }
  }

  &__author {
    margin-left: 8px;
    font-size: 0.8em;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }

  &-actions {
    padding: 0;
  }
}
.main-content {
  font-size: 1.1em;
  margin: 8px 16px 6px;
  padding-left: 53px;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.shared-chunk {
  border-radius: 4px;
  margin: 12px 0 0;
}
.card-content {
  margin: 2px;
}
