<div class="wrapper">
  <app-backbar [caption]="'Details'"></app-backbar>
  <div class="head">
    <div class="essentials">
      <img [src]="user.profilePic" alt="avatar" class="profile-picture" />
      <h1>{{ user.name }}</h1>
      <p>{{ user.bio }}</p>
      <div class="interactors" *ngIf="currentUser.username !== user.username">
        <app-user-interactor [user]="user"></app-user-interactor>
      </div>
    </div>

    <div class="extra-info">
      <ul>
        <li>
          <a [routerLink]="['followers']">
            <mat-icon class="icon">favorite</mat-icon>
            <span
              >Followers:&nbsp;<strong>{{ user.followers }}</strong></span
            ></a
          >
        </li>
        <li>
          <a [routerLink]="['following']">
            <mat-icon class="icon">favorite_border</mat-icon>
            <span
              >Following:&nbsp;<strong>{{ user.following }}</strong></span
            ></a
          >
        </li>
        <li>
          <mat-icon class="icon">face</mat-icon>
          <span
            >Gender:&nbsp;<strong>{{ user.gender }}</strong></span
          >
        </li>
        <li>
          <mat-icon class="icon">cake</mat-icon>
          <span
            >Birthday:&nbsp;<strong>{{
              user.birthday | date: "MMMM d, y"
            }}</strong></span
          >
        </li>
        <li>
          <mat-icon class="icon">email</mat-icon>
          <span
            >Email:&nbsp;<strong>{{ user.email }}</strong></span
          >
        </li>
        <li>
          <mat-icon class="icon">loyalty</mat-icon>
          <span
            >Joined Chunk on:&nbsp;<strong>{{
              user.joinedOn | date: "MMMM d, y"
            }}</strong></span
          >
        </li>
      </ul>
    </div>

    <div class="modifiers" *ngIf="canModify">
      <a mat-button [routerLink]="['/users/me/edit']">Edit my information</a>
    </div>
  </div>

  <div class="chunks">
    <h3>{{ user.name }}'s Posts</h3>
    <app-feed-generator
      [currentUser]="currentUser"
      [endpoint]="endpoint"
      [httpOptions]="httpOptions"
    ></app-feed-generator>
  </div>
</div>
