@import "variables";
@import "mixins";

$content-width: 768px;
$navbar-y-padding: 64px;

.wrapper {
  .navbar {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: calc(100% - #{$navbar-y-padding} * 2);

    padding: $navbar-y-padding 48px;

    a {
      display: block;
      font-size: 1.5em;
      width: fit-content;
      border-radius: 64px;

      margin: 8px 0;
      padding: 8px 24px;

      &:hover {
        background-color: $ultra-light-primary-color;
        color: $primary-color;
      }
    }

    .compose-link {
      background-color: $light-primary-color;
      color: white;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }

    &-icon {
      margin-right: 12px;
    }
  }
  .sidebar-container {
    width: calc((100% - #{$content-width}) / 2);
    position: fixed;

    &-left {
      text-align: right;
    }
  }
  &-content {
    background-color: #fff;
  }
}
.link-selected {
  color: $primary-color;
}
.logo {
  width: 96px;
}
.right-wrapper {
  display: inline-block;
  text-align: center;

  margin: 128px 64px 16px;

  h1 {
    font-size: 2.4em;
    color: $primary-color;
    font-weight: bolder;
    margin-top: 12px;
  }
  p {
    font-weight: bold;
    margin-top: 8px;
  }
  a {
    color: $primary-color;
    font-size: 1.2em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
