<div class="root">
  <div class="heading">
    <img src="assets/smallTalkLogo.png" alt="Smalltalk Logo" class="logo" />
    <h1>Smalltalk</h1>
  </div>
  <div class="facts">
    <h2>Facts</h2>
    <ul>
      <li>
        Smalltalk is inspired by <strong>Facebook</strong> and
        <strong>Twitter</strong>, and as such, its structure resembles them
        greatly.
      </li>
      <li>
        Initially, the developer chose the name "<strong
          >Textbook - Facebook without faces</strong
        >", but that would cause a contradiction because in Smalltalk, there are
        faces indeed.
      </li>
      <li>
        Smalltalk took <strong>nearly a month</strong> to build from scratch.
      </li>
      <li>
        Smalltalk is built with the <strong>MEAN</strong> stack - MongoDB,
        ExpressJS, Angular and NodeJS.
      </li>
    </ul>
  </div>
  <div class="bugs">
    <h2>Bugs</h2>
    <p>
      As of August 9, 2020, there have been <strong>no bugs</strong> but if you
      encounter any strange behavior, feel free to report them.
    </p>
    <small>Please report to the contact below.</small>
  </div>
  <div class="me">
    <h2>Meet the developer</h2>
    <div class="me-wrapper">
      <img
        src="https://i.pinimg.com/736x/ed/9f/9a/ed9f9ade6969ad6cfb8dd3da668920e2.jpg"
        class="me-img"
      />
      <p><strong>invtronx</strong></p>
      <p>Otaku. Hardcore Coder. Learner.</p>
    </div>
    <p>
      <mat-icon class="icon">facebook</mat-icon>
      <strong>
        Facebook:
        <a href="https://www.facebook.com/achillies.coc/">Ye Min Aung</a>
      </strong>
    </p>
    <p>
      <mat-icon class="icon">code</mat-icon>
      <strong>
        Source code for Smalltalk is available on:
        <a href="https://github.com/invtronx">Github</a>
      </strong>
    </p>
    <p>
      <small
        >Feedbacks and suggestions as well as bug reports are most
        welcome.</small
      >
    </p>
  </div>
  <div class="license">
    <h2>License</h2>
    <p>Code is licensed under the <strong>MIT License.</strong></p>
  </div>
</div>
