<div class="compose">
  <app-backbar [caption]="sharedSource ? 'Share' : 'Compose'"></app-backbar>

  <mat-card>
    <mat-card-header class="chunk-header">
      <app-avatar mat-card-avatar [link]="currentUser.profilePic"></app-avatar>
      <div class="header-wrapper">
        <mat-card-title class="chunk-header__title">
          <p class="chunk__author">{{ currentUser.name }}</p>
        </mat-card-title>
        <mat-card-subtitle class="chunk-header-sub">
          <div class="chunk-header-sub__head">
            <span>@{{ currentUser.username }}</span>
            <span class="chunk-header-sub__date-separator">&#183;</span>
            <span class="chunk-header-sub__date">Currently writing</span>
          </div>
        </mat-card-subtitle>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div class="main-content">
        <form
          [formGroup]="composeForm"
          autocomplete="off"
          (ngSubmit)="handleChunkComposure()"
        >
          <p class="form-field-wrapper">
            <mat-form-field class="form-field">
              <textarea
                matInput
                formControlName="content"
                placeholder="What's on your mind?"
              ></textarea>
            </mat-form-field>
          </p>
          <div *ngIf="sharedSource" class="shared-chunk">
            <app-chunk [shortForm]="true" [chunk]="sharedSource"></app-chunk>
          </div>
          <div class="button-wrapper">
            <button mat-raised-button class="compose-button" color="primary">
              <span *ngIf="editingChunk">Edit</span>
              <span *ngIf="sharedSource && !editingChunk">Share</span>
              <span *ngIf="!sharedSource && !editingChunk">Compose</span>
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
