<div class="root">
  <app-backbar [caption]="'Chunk'"></app-backbar>
  <div class="chunk-content">
    <app-chunk [chunk]="chunk" [shortForm]="false"></app-chunk>
  </div>
  <div class="chunk-comments">
    <h2>Comments</h2>
    <div class="chunk-comments-compose">
      <form
        class="comment-form"
        [formGroup]="commentForm"
        (ngSubmit)="handleCommentForm()"
      >
        <div class="comment-form-div">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Write your thoughts on the post</mat-label>
            <input
              matInput
              formControlName="content"
              id="commentContent"
              autocomplete="off"
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!commentForm.get('content').value"
          >
            Comment
          </button>
        </div>
      </form>
    </div>
    <div>
      <p *ngFor="let comment of comments">
        <app-comment
          [comment]="comment"
          [canModify]="currentUser.username === comment.author.username"
          [chunkSlug]="chunk.slug"
          (isDeleted)="reloadChunkDetails()"
        ></app-comment>
      </p>
      <hr />
      <p class="no-comment-note" *ngIf="comments.length === 0">
        There are no comments on this post.
      </p>
    </div>
  </div>
</div>
