.chunk-comments {
  h2 {
    margin: 8px 24px;
  }
  &-compose {
    width: 100%;
  }
}
hr {
  border: 1px solid gainsboro;
}
form {
  .form-field {
    margin-bottom: -12px;
    padding-left: 6px;
    flex-grow: 1;
  }
  .comment-form-div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;

    button {
      margin: 0 8px;
      margin-bottom: 8px;
      height: 3em;
    }
  }
}
.no-comment-note {
  font-weight: bold;
  text-align: center;
  margin: 4px;
}
