<div class="wrapper">
  <h2>Edit my information</h2>
  <form
    class="form"
    [formGroup]="editForm"
    (ngSubmit)="handleEditForm()"
    autocomplete="off"
  >
    <div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Birthday</mat-label>
        <input
          matInput
          [matDatepicker]="birthdayPicker"
          formControlName="birthday"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="birthdayPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #birthdayPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Gender</mat-label>
        <mat-select type="select" formControlName="gender" id="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="Unspecified">Choose not to specify</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Bio</mat-label>
        <textarea class="textarea" formControlName="bio" matInput></textarea>
      </mat-form-field>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="editForm.invalid || editDisabled"
    >
      Edit
    </button>
  </form>
</div>
