<div class="root">
  <h3>Edit my information</h3>
  <form [formGroup]="editForm" (ngSubmit)="handleEditForm()" autocomplete="off">
    <div>
      <label for="name">Name</label>
      <input formControlName="name" id="name" />
    </div>
    <div>
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" />
    </div>
    <div>
      <label for="birthday">Birthday</label>
      <input formControlName="birthday" id="birthday" type="date" />
    </div>
    <div>
      <label for="gender">Gender</label>
      <select type="select" formControlName="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Unspecified">Choose not to specify</option>
      </select>
    </div>
    <div>
      <label for="bio">Bio</label>
      <textarea id="bio" formControlName="bio"></textarea>
    </div>
    <button type="submit" [disabled]="editForm.invalid || editDisabled">
      Edit
    </button>
  </form>
</div>
