.users-list__footer {
  margin: 12px auto;
  font-weight: bold;
  text-align: center;
}
.user-count {
  margin: 0 24px;
  margin-bottom: 4px;
  font-weight: lighter;
}
.spinner-wrapper {
  width: 100%;
  margin-top: 24px;
}
.spinner {
  left: 50%;
  margin-left: -3em;
}
