<div class="generated-users-list">
  <p class="user-count">
    {{ userCount$ | async }} user(s)
    <span *ngIf="ignoreSelf"> including yourself</span>
  </p>
  <div class="users-list">
    <div class="users-list__user" *ngFor="let user of usersList$ | async">
      <div
        class="users-list__self-remover"
        *ngIf="user.username !== currentUser.username || !ignoreSelf"
      >
        <app-user [user]="user"></app-user>
      </div>
    </div>
  </div>

  <div class="users-list__footer" *ngIf="usersListExhausted$ | async">
    Users exhausted.
  </div>
</div>
