@import "variables";

.user-interactors {
  button {
    background-color: transparent;
    min-width: 90px;
    color: black;
  }
  button:hover {
    cursor: pointer;
    background-color: $primary-color;
    color: white;
  }
  .colored {
    background-color: $primary-color;
    color: white;
  }
}
