.card {
  border-top: 1px solid gainsboro;
  border-radius: 0;
  padding: 8px 16px;
  &:hover {
    background-color: #eee;
  }
}
.notification {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  font-weight: lighter;
}
.link-wrapper {
  text-decoration: none;
  color: black;
}
