<div class="root">
  <p class="input-wrapper">
    <mat-form-field class="input-form-field">
      <mat-label>Search tags</mat-label>
      <input
        matInput
        [formControl]="tagSearch"
        autocomplete="off"
        class="search"
        type="search"
        placeholder="Ex. edm, manga, spring-festival"
      />
      <mat-icon class="search-icon" matPrefix>search</mat-icon>
      <button
        mat-button
        type="button"
        *ngIf="tagSearch.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="tagSearch.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </p>
  <div class="feed">
    <app-feed-generator
      [currentUser]="currentUser"
      [endpoint]="endpoint"
      [httpOptions]="httpOptions"
    ></app-feed-generator>
  </div>
</div>
