@import "variables";

.interactors {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  p {
    margin-bottom: 4px;
  }
  button {
    font-size: 1em;
    font-weight: lighter;
    background-color: transparent;
    color: black;
  }
  .icon {
    font-size: 1.4em;
  }
  button:hover {
    background: $ultra-light-primary-color;
    color: $primary-color;
  }
  .colored {
    color: $primary-color;
  }
}
