<div class="interactors">
  <p [class]="likeButtonClasses">
    <button mat-icon-button [class]="likeButtonClasses" (click)="handleLike()">
      <mat-icon class="icon">thumb_up</mat-icon>
    </button>
    <span>{{ likeCount }}</span>
  </p>
  <p>
    <button
      mat-icon-button
      class="interactors__comment"
      (click)="handleComment()"
    >
      <mat-icon class="icon">comment</mat-icon>
    </button>
    <span>{{ chunk.commentCount }}</span>
  </p>
  <p>
    <button mat-icon-button class="interactors__share" (click)="handleShare()">
      <mat-icon class="icon">share</mat-icon>
    </button>
  </p>
</div>
