.card {
  border-radius: 0;
  border-top: 1px solid gainsboro;
  padding: 8px 16px 0px;
}
.header {
  color: #888;
}
.name {
  color: black;
  font-size: 0.8em;
  text-decoration: none;
  margin-left: 8px;
  &:hover {
    text-decoration: underline;
  }
}
.content {
  margin-top: -8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 53px;
  p {
    font-weight: lighter;
    margin-left: 12px;
  }
  .btn-div {
    position: relative;
    bottom: 20px;
  }
}
.separator {
  font-weight: bolder;
  margin: 0 8px 0 -2px;
}
