<div class="user">
  <mat-card class="card">
    <mat-card-header class="header">
      <app-avatar mat-card-avatar [link]="user.profilePic"></app-avatar>
      <mat-card-title>
        <a class="name" [routerLink]="['/users', user.username]">
          {{ user.name }}
        </a>
      </mat-card-title>
      <span class="separator">&#183;</span>
      <span>{{ user.followers }}</span>
      <span *ngIf="isSmallScreen$ | async">&nbsp;fol</span>
      <span *ngIf="!(isSmallScreen$ | async)">&nbsp;followers</span>
    </mat-card-header>
    <mat-card-content class="content">
      <p>
        {{
          user.bio || "This user prefers to keep an air of mystery around self."
        }}
      </p>
      <div class="btn-div">
        <app-user-interactor [user]="user"></app-user-interactor>
      </div>
    </mat-card-content>
  </mat-card>
</div>
