<div class="wrapper">
  <mat-drawer-container class="wrapper-container">
    <mat-drawer
      class="sidebar-container sidebar-container-left"
      mode="side"
      opened
    >
      <nav class="navbar" *ngIf="!(isSmallScreen$ | async)">
        <div>
          <a
            mat-button
            [routerLink]="['/']"
            routerLinkActive="link-selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Users icon"
              >home</mat-icon
            >
            <span>Feed</span>
          </a>
          <a
            mat-button
            [routerLink]="['/users']"
            routerLinkActive="link-selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Users icon"
              >people</mat-icon
            >
            <span>Users</span>
          </a>
          <a
            mat-button
            [routerLink]="['/users/notifications']"
            routerLinkActive="link-selected"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >notifications</mat-icon
            >
            <span>Notifications</span>
          </a>
          <a
            mat-button
            [routerLink]="['/compose']"
            routerLinkActive="link-selected"
            class="compose-link"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >create</mat-icon
            >
            <span>Compose</span>
          </a>
        </div>
        <div>
          <a
            mat-button
            [routerLink]="['/users/me']"
            routerLinkActive="link-selected"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >account_circle</mat-icon
            >
            <span>My Profile</span>
          </a>
          <a
            mat-button
            [routerLink]="['/portal/logout']"
            routerLinkActive="link-selected"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >exit_to_app</mat-icon
            >
            <span>Logout</span>
          </a>
        </div>
      </nav>
    </mat-drawer>
    <mat-drawer-content class="wrapper-content">
      <div class="tab-nav" *ngIf="isSmallScreen$ | async">
        <nav mat-tab-nav-bar mat-stretch-tabs class="tab-navbar">
          <a
            mat-tab-link
            mat-button
            [routerLink]="['/']"
            routerLinkActive="tab-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Users icon"
              >home</mat-icon
            >
          </a>
          <a
            mat-tab-link
            mat-button
            [routerLink]="['/users']"
            routerLinkActive="tab-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Users icon"
              >people</mat-icon
            >
          </a>
          <a
            mat-tab-link
            mat-button
            [routerLink]="['/users/notifications']"
            routerLinkActive="tab-active"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >notifications</mat-icon
            >
          </a>
          <a
            mat-tab-link
            mat-button
            [routerLink]="['/compose']"
            routerLinkActive="tab-active"
            class="compose-link"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >create</mat-icon
            >
          </a>
          <a
            mat-tab-link
            mat-button
            [routerLink]="['/users/me']"
            routerLinkActive="tab-active"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >account_circle</mat-icon
            >
          </a>
          <a
            mat-tab-link
            mat-button
            [routerLink]="['/portal/logout']"
            routerLinkActive="tab-active"
          >
            <mat-icon
              class="navbar-icon"
              aria-hidden="false"
              aria-label="Profile icon"
              >exit_to_app</mat-icon
            >
          </a>
        </nav>
      </div>
      <router-outlet></router-outlet>
    </mat-drawer-content>
    <mat-drawer
      class="sidebar-container sidebar-container-right"
      mode="side"
      position="end"
      opened
    >
      <div class="right-wrapper" *ngIf="!(isSmallScreen$ | async)">
        <img src="assets/smallTalkLogo.png" class="logo" alt="SmallTalk Logo" />
        <h1>Smalltalk</h1>
        <mat-divider></mat-divider>
        <p>&copy; 2020 Smalltalk by invtronx</p>
        <a class="about-link" [routerLink]="['/about']">About</a>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
